<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <title>Админ. Новый товар</title>
</head>
<body>
<div th:replace="~{fragments :: menu2}"></div>

<div class="container-xxl">
    <section class="title row">
        <div class="col text-start">
            <div class="title-page text-primary" th:switch="${flagEdit}">
                <h2 th:case="true">Редактирование товара</h2>
                <h2 th:case="false">Новый товар</h2>
            </div>
        </div>
    </section>

    <section class="form-enter row">
        <form th:action="@{/admin/products/add}" enctype="multipart/form-data" th:object="${product}" th:method="POST">
            <div class="form-group row">

                <div class="col-6">
                    <input type="text" th:field="*{id}" hidden/>

                    <div class="row mb-3">
                        <label for="nameInput" class="col-3 col-form-label">Товар</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="nameInput" placeholder="Наименование товара"
                                   th:field="*{name}" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="typeSelect" class="col-3 col-form-label">Группа товаров</label>
                        <div class="col-9">
                            <select class="form-select" id="typeSelect" th:field="*{productType}" required>
                                <option selected disabled value="">Выберите ...</option>
                                <option th:each="type : ${types}"
                                        th:value="${type.id}"
                                        th:utext="${type.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-between">
                        <label for="descriptionInput" class="col-3 col-form-label">Описание</label>
                        <div class="col-9">
                    <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Описание товара"
                              th:field="*{description}"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3 justify-content-between">
                        <label for="priceInput" class="col-3 col-form-label">Цена</label>
                        <div class="col-9">
                            <input type="number" class="form-control" id="priceInput" placeholder="Цена товара" min="0"
                                   th:field="*{price}" required>
                        </div>
                    </div>

                    <th:block th:if="${flagEdit}">
                        <div class="row mb-3">
                            <label for="oldPriceInput" class="col-3 col-form-label">Старая цена</label>
                            <div class="col-9">
                                <input type="number" class="form-control" id="oldPriceInput"
                                       placeholder="Старая цена товара" min="0" th:field="*{oldPrice}">
                            </div>
                        </div>
                    </th:block>

                    <div class="row mb-3">
                        <label for="indicationSelect" class="col-3 col-form-label">Статус товара</label>
                        <div class="col-9">
                            <select class="form-select" id="indicationSelect" th:field="*{state}" required>
                                <option selected disabled value="">Выберите ...</option>
                                <option th:each="state : ${T(ru.shvets.springshop.model.ProductState).values()}"
                                        th:value="${state}"
                                        th:utext="${state}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <!--                Добавление-->
                    <div class="row mb-3" th:if="${!flagEdit}">
                        <label for="fileInput" class="col-3 col-form-label">Наименование файла</label>
                        <div class="col-9">
                            <input type="text" th:field="*{image}" hidden/>
                            <input type="file" class="form-control" id="fileInput" name="file"
                                   accept=".jpg, .jpeg, .png" required>
                        </div>
                    </div>

                    <!--                Редактирование-->
                    <div class="row mb-3" th:if="${flagEdit}">
                        <label for="imageInput" class="col-3 col-form-label">Наименование файла</label>
                        <div class="col-9">
                            <input type="text" class="form-control" th:field="*{image}" readonly>
                            <input type="file" class="form-control" id="imageInput" name="file"
                                   accept=".jpg, .jpeg, .png">
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="col align-self-center text-center" th:if="${flagEdit}">
                        <img class="rounded" th:if="${!product.image.isEmpty()}"
                             th:src="@{'/img/' + ${product.image}}"
                             width="600">
                    </div>
                </div>

            </div>

            <div class="col-12">
                <button class="btn btn-sm btn-primary" type="submit">Сохранить</button>
                <a th:href="@{/admin/products}" class="btn btn-sm btn-secondary">Отмена</a>
            </div>
        </form>
    </section>

</div>

</body>
<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</html>