<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <title>Админ. Список товаров</title>
</head>
<body>
<div th:replace="~{fragments :: menu2}"></div>

<div class="container-xxl">
    <section>
        <h2>Управление товарами</h2>
        <table class="table-responsive table-secondary table-bordered table-striped caption-top">
            <caption>Список товаров</caption>
            <thead class="table-light text-center align-top">
            <th class="text-dark px-2" scope="col">#</th>
            <th class="text-dark px-2" scope="col">Название товара</th>
            <th class="text-dark px-2" scope="col">Группа</th>
            <th class="text-dark px-2" scope="col">Старая цена</th>
            <th class="text-dark px-2" scope="col">Текущая цена</th>
            <th class="text-dark px-2" scope="col">Статус</th>
            <th class="text-dark px-2" scope="col">Создан</th>
            <th class="text-dark px-2" scope="col">Продан</th>
            <th class="text-dark px-2" scope="col">Покупатель</th>
            <th class="text-dark px-2" scope="col">Действия</th>
            </thead>
            <tbody>
            <div th:each="product, iterStat : ${products}">
                <tr class="align-middle">
                    <td class="text-center px-2" th:text="${iterStat.index + 1}"></td>
                    <td class="text-start px-2 text-nowrap"><a th:href="@{'/admin/products/edit/' + ${product.id}}" th:text="${product.name}">Product</a></td>
                    <td class="text-start px-2 text-nowrap" th:text="${product.productType.name}"></td>
                    <td class="text-center px-2" th:text="${#numbers.formatDecimal(product.oldPrice, 0, 'COMMA', 0,'POINT')}"></td>
                    <td class="text-center px-2" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0,'POINT')}"></td>
                    <td class="text-center px-2" th:text="${product.state}"></td>
                    <td class="text-center px-2" th:text="${#dates.format(product.created, 'dd/MM/yyyy - HH:mm')}"></td>
                    <td class="text-center px-2" th:text="${product.sold ne 0} ? ${#dates.format(product.sold, 'dd/MM/yyyy')} : ''"></td>
                    <td class="text-start px-2">
                        <div th:each="item : ${product.client}">
                            <span th:text="*{item.firstName + ' ' + item.lastName}"></span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{'/admin/products/edit/' + ${product.id}}"><i
                                        class="bx bx-edit-alt me-1"></i>Edit</a>
                                <a class="dropdown-item" th:href="@{'/admin/products/delete/' + ${product.id}}"><i
                                        class="bx bx-trash me-1"></i>Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
            <tfoot>
            <td colspan="10">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/admin/products/add}"
                       class="btn btn-sm btn-primary justify-content-md-end">Добавить</a>
                </div>
            </td>
            </tfoot>
        </table>
    </section>
</div>

</body>
<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</html>