<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <title>Админ. Список клиентов</title>
</head>
<body>
<div th:replace="~{fragments :: menu2}"></div>

<div class="container-xxl">
    <section>
        <h2>Управление клиентами</h2>

        <table class="table-responsive table-secondary table-bordered table-striped caption-top">
            <caption>Список клиентов</caption>
            <thead style="text-align: center;">
            <th scope="col" style="padding-left: 10px; padding-right: 10px;">#</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Имя</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Фамилия</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Email</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Телефон</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Telegram</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">WhatsApp</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Зарегистрирован</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px">Действия</th>
            </thead>
            <tbody>
            <div th:each="client, iterStat : ${clients}">
                <tr style="text-align: center">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${client.firstName}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.lastName}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.email}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.phone}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.telegram}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.whatsApp}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>
                    <td th:text="${client.created}"
                        style="text-align: start; padding-left: 10px; padding-right: 10px;"></td>

                    <!--                    <td><a th:href="@{'/products/edit/' + ${product.id}}"-->
                    <!--                           class="btn btn-sm btn-secondary">Редактировать</a></td>-->
                    <!--                    <td><a th:href="@{'/products/delete/' + ${product.id}}" class="btn btn-sm btn-secondary">Удалить</a>-->
                    <!--                    </td>-->
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{'/admin/clients/edit/' + ${client.id}}"><i
                                        class="bx bx-edit-alt me-1"></i>Edit</a>
                                <a class="dropdown-item" th:href="@{'/admin/clients/delete/' + ${client.id}}"><i
                                        class="bx bx-trash me-1"></i>Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
            <tfoot>
            <td colspan="9">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/admin/clients/add}"
                       class="btn btn-sm btn-primary justify-content-md-end">Добавить</a>
                </div>
            </td>
            </tfoot>
        </table>
    </section>
</div>

</body>
<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</html>