<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<div class="t578">
    <div class="t-container">
        <div class="t-col t-col_8 t-prefix_2 t-align_center">
            <div class="t578__title t-title t-title_xs" style="" field="title">Хотите купить готовую работу<br>или
                сделать персональный заказ?<br><strong><span data-redactor-tag="span" style="font-size: 28px;"><br>Свяжитесь со мной удобный способом!</span></strong>
            </div>
            <div class="t578__itemwrapper t-margin_auto">
                <div class="t578__imgwrapper t-margin_auto" style="width:250px;">
                    <div class="t578__bgimg t-margin_auto t-bgimg loaded"
                         data-original="https://static.tildacdn.com/tild6163-3036-4337-b433-373335346363/nk0300_8.jpg"
                         bgimgfield="img"
                         style="background-image: url(&quot;https://thumb.tildacdn.com/tild6163-3036-4337-b433-373335346363/-/cover/250x250/center/center/-/format/webp/nk0300_8.jpg&quot;);"
                         itemscope="" itemtype="http://schema.org/ImageObject">
                        <meta itemprop="image"
                              content="https://static.tildacdn.com/tild6163-3036-4337-b433-373335346363/nk0300_8.jpg">
                    </div>
                </div>
                <div class="t578__persname t-name t-name_lg" style="" field="text2">Анжелика Швец</div>
                <div class="t578__persdescr t-descr t-descr_xxs" style="" field="descr">Дизайнер украшений</div>
            </div>
            <div class="t578__text t-text t-text_sm t578__text-bottom-margin" style="" field="text">
                <strong>WhatsApp:</strong> <a href="https://wa.me/79035630608"
                                              style="text-decoration: none;border-bottom: 1px solid;box-shadow: inset 0px -0px 0px 0px;-webkit-box-shadow: inset 0px -0px 0px 0px;-moz-box-shadow: inset 0px -0px 0px 0px;"
                                              target="_blank"
                                              rel="noopener">+7(9xx)xxx-xx-xx</a><br><strong>E-mail:</strong>
                shvetsav@mail.ru<br><strong></strong>Интересно следить за новинками? Подписывайтесь!<br>Телеграм:
                <a href="https://t.me/xxx"
                   style="text-decoration: none;border-bottom: 1px solid;box-shadow: inset 0px -0px 0px 0px;-webkit-box-shadow: inset 0px -0px 0px 0px;-moz-box-shadow: inset 0px -0px 0px 0px;">t.me/tatiana_rimel</a><br>Вконтакте:
                <a href="https://vk.com/xxx"
                   style="text-decoration: none;border-bottom: 1px solid;box-shadow: inset 0px -0px 0px 0px;-webkit-box-shadow: inset 0px -0px 0px 0px;-moz-box-shadow: inset 0px -0px 0px 0px;">vk.com/rimel</a><a
                    href="https://www.instagram.com/tatianarimel/" target="_blank" style=""
                    rel="noopener"><u></u></a><br></div>
        </div>
    </div>
</div>

</body>
</html>