<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Лэмпворк</title>
</head>
<body>

<header class="header-base" th:fragment="menu">
    <div class="container-xxl">
        <div class="d-flex bg-light flex-wrap justify-content-center border-bottom py-3">
            <a href="/api/v1/home"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Лэмпворк</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/api/v1/home" class="nav-link px-2 link-dark">Главная</a></li>
                <li class="nav-item"><a href="/api/v1/gallery" class="nav-link px-2 link-dark">Коллекция</a></li>
                <li class="nav-item"><a href="/api/v1/contacts" class="nav-link px-2 link-dark">Контакты</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">FAQ</a></li>
                <li class="nav-item"><a href="/api/v1/about" class="nav-link px-2 link-dark">О проекте</a></li>
            </ul>
        </div>
    </div>
</header>

<header class="header-admin" th:fragment="menu2">
    <div class="container-xxl">
        <div class="d-flex bg-light flex-wrap justify-content-between mb-4 border-bottom">
            <a href="/api/v1/home"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Администрирование</span>
            </a>

            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item"><a href="/api/v1/home" class="nav-link px-2">Главная</a></li>
                <li class="nav-item"><a href="/admin/products" class="nav-link px-2">Продукты</a></li>
                <li class="nav-item"><a href="/admin/types" class="nav-link px-2">Группы</a></li>
                <li class="nav-item"><a href="/admin/clients" class="nav-link px-2">Клиенты</a></li>
                <li class="nav-item"><a href="/api/v1/orders" class="nav-link px-2">Заказы</a></li>
                <li class="nav-item"><a href="/api/v1/reports" class="nav-link px-2">Отчеты</a></li>

                <!--            <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary"><span-->
                <!--                    th:text="${product.name}"></span></a></li>-->
            </ul>
        </div>
    </div>
</header>

<footer class="footer-base" th:fragment="copyright">
    <div class="container-xxl ">
        <div class="d-flex bg-light flex-wrap justify-content-center border-top py-3">
            <div class="col-12 text-start px-3">
                <p>© 2022-2023 Your company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<footer class="footer-base" th:fragment="copyright2">
    <section>
        <div class="container-xxl ">
            <div class="d-flex bg-light flex-wrap justify-content-center mb-3">
                <div class="col-md-10">
                    <p>© 2022-2023 Your company. All rights reserved.</p>
                </div>

                <div class="col-md-2 social">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
</footer>

<!--jQuery-->
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--JavaScript-->
<script defer src="/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js" ></script> -->
</body>
</html>