<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Лэмпворк</title>
</head>
<body>

<header>
    <section>
        <div class="container-xxl">
            <div class="d-flex bg-light flex-wrap justify-content-center mb-4 border-bottom">
                <a href="/api/v1/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4">Лэмпворк</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                    <li class="nav-item"><a href="/api/v1/gallery" class="nav-link px-2 link-dark">Галерея</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 link-dark">About</a></li>
                </ul>
            </div>
        </div>
    </section>
</header>

<section>
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col-6">
                <h1>Добро пожаловать в мир волшебства и красоты</h1>
            </div>
            <div class="col-6">
                <img class="w-100" src="/images/main.png" alt="Glass">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-xxl">
        <div class="row part1 bg-light flex-wrap text-start justify-content-center py-3 mb-4 border-bottom">
            <h2>Мое творчество</h2>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel11.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel12.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel13.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel14.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel21.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel22.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel23.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel24.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel31.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel32.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel33.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel34.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<footer>
    <section>
        <div class="container-xxl ">
            <div class="d-flex bg-light flex-wrap justify-content-center mb-3">
                <div class="col-md-10">
                    <p>© 2022 Your company. All rights reserved.</p>
                </div>

                <div class="col-md-2 social">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
</footer>

<script defer src="/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js" ></script> -->
</body>
</html>