<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="~{fragments :: title}">Title</title>
    <th:block th:insert="~{fragments :: link}"></th:block>
</head>
<body>
<div th:replace="~{fragments :: menu}"></div>

<div class="container-xxl">
    <section>
        <div class="row align-items-center">
            <div class="col-6">
                <h1>Добро пожаловать в мир волшебства и красоты</h1>
            </div>
            <div class="col-6">
                <img class="w-100" src="/images/main.png" alt="Glass">
            </div>
        </div>
    </section>

    <section>
        <div class="row part1 bg-light flex-wrap text-start justify-content-center py-3 mb-4 border-bottom">
            <h2>Мое творчество</h2>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel11.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel12.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel13.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel14.png" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel21.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel22.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel23.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel24.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel31.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel32.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel33.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="/images/carusel34.jpeg" class="card-img-top" alt="glass jewelry">
                                <div class="card-body">
                                    <h5 class="card-title">glass jewelry</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make
                                        up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</div>

<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</body>
</html>