<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="~{fragments :: title}">Title</title>
    <th:block th:insert="~{fragments :: link}"></th:block>
</head>
<body>
<div th:replace="~{fragments :: menu}"></div>

<div class="container-xxl">
<section>
        <div th:object="${product}">
            <div class="card my-5 border-0">
                <div class="row g-0 mb-3">
                    <div class="col-md-6">
                        <img th:src="@{'/img/' + ${product.image}}" class="img-fluid rounded-start" alt="Photo">

                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-danger rounded-pill"
                              th:if="${product.state.equals(product.state.NEW)}">NEW<span
                                class="visually-hidden">метка - товар NEW</span></span>

                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-warning rounded-pill"
                              th:if="${product.state.equals(product.state.SALE)}">SALE<span
                                class="visually-hidden">метка - товар SALE</span></span>

                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-success rounded-pill"
                              th:if="${product.state.equals(product.state.SOLD)}">SOLD<span
                                class="visually-hidden">метка - товар SOLD</span></span>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body px-5">
                            <p class="card-text fw-bold" style="font-size: 30px;" th:text="${product.name}"></p>

                            <ul class="list-inline mb-2 mb-sm-0">
                                <li class="list-inline-item h4 fw-light mb-0">&#8381;<span
                                        th:text="${product.price}"></span></li>
                                <li class="list-inline-item text-muted fw-light">
                                    <del><span th:unless="${product.oldPrice} == 0">&#8381;<span
                                            th:text="${product.oldPrice}"></span></span></del>
                                </li>
                            </ul>

                            <p class="card-text fst-italic text-muted mt-3" style="font-size: 20px;"
                               th:text="${product.description}"></p>
                        </div>
                    </div>
                </div>

                <ul class="list-unstyled mt-3">
                    <li><strong>Категория: </strong><a class="text-muted text-decoration-none" href="#" th:text="${product.productType.name}"></a></li>
                    <li><strong>Лот: </strong><a class="text-muted text-decoration-none" href="#" th:text="${product.id}"></a>
                    </li>
                </ul>
            </div>
        </div>
</section>
</div>

<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</body>
</html>