<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Админ. Новый товар</title>
</head>
<body>
<section>
    <div class="container-xxl">
        <header class="d-flex bg-light flex-wrap justify-content-center mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Администрирование</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/index" class="nav-link px-2">Home</a></li>
                <li class="nav-item"><a href="/admin/products" class="nav-link px-2">Продукты</a></li>
                <li class="nav-item"><a href="/admin/types" class="nav-link px-2">Группы</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary"><span th:text="${product.name}"></span></a></li>
            </ul>
        </header>
    </div>
</section>

<section>
    <div class="container-xxl">

        <div th:switch="${flagEdit}">
            <h2 th:case="true">Редактирование товара</h2>
            <h2 th:case="false">Новый товар</h2>
        </div>

        <form class="row g-3" th:action="@{/admin/products/add}" th:object="${product}" method="POST">
            <input type="text" th:field="*{id}" hidden/>

            <div class="row my-3">
                <label for="nameInput" class="col-2 col-form-label">Товар</label>
                <div class="col-4">
                    <input type="text" class="form-control" id="nameInput" placeholder="Наименование товара"
                           th:field="*{name}" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="typeSelect" class="col-2 col-form-label">Группа товаров</label>
                <div class="col-4">
                    <select class="form-select" id="typeSelect" th:field="*{productType}" required>
                        <option selected disabled value="">Выберите ...</option>
                        <option th:each="type : ${types}"
                                th:value="${type.id}"
                                th:utext="${type.name}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="descriptionInput" class="col-2 col-form-label">Описание</label>
                <div class="col-4">
                    <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Описание товара"
                              th:field="*{description}"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label for="priceInput" class="col-2 col-form-label">Цена</label>
                <div class="col-4">
                    <input type="number" class="form-control" id="priceInput" placeholder="Цена товара" min="0" th:field="*{price}" required>
                </div>
            </div>

            <th:block th:if="${flagEdit}">
            <div class="row mb-3">
                <label for="oldPriceInput" class="col-2 col-form-label">Старая цена</label>
                <div class="col-4">
                    <input type="number" class="form-control" id="oldPriceInput" placeholder="Старая цена товара" min="0" th:field="*{oldPrice}">
                </div>
            </div>

<!--                <div class="row mb-3">-->
<!--                    <div class="col-2">-->
<!--                        <p>Признак товара</p>-->
<!--                    </div>-->
<!--                    <div class="col-4">-->
<!--                        <input class="form-check-input" type="checkbox" value="" id="hotProductCheck" th:field="*{hotProduct}">-->
<!--                        <label class="form-check-label" for="hotProductCheck">Hot продукт</label>-->
<!--                    </div>-->
<!--                </div>-->
            </th:block>

            <div class="row mb-3">
                <label for="indicationSelect" class="col-2 col-form-label">Статус товара</label>
                <div class="col-4">
                    <select class="form-select" id="indicationSelect" th:field="*{state}" required>
                        <option selected disabled value="">Выберите ...</option>
                        <option th:each="state : ${T(ru.shvets.springshop.entity.ProductState).values()}"
                                th:value="${state}"
                                th:utext="${state}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="imageInput" class="col-2 col-form-label">Наименование файла</label>
                <div class="col-4">
                    <input type="file" class="form-control" id="imageInput" th:utext="*{image}" th:field="*{image}"
                           accept=".jpg, .jpeg, .png" required>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-sm btn-primary" type="submit">Сохранить</button>
            </div>

        </form>

    </div>
</section>

</body>
<script defer src="/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js" ></script> -->
</html>