<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <title>Галерея</title>
</head>
<body>
<div th:replace="~{fragments :: menu}"></div>

<div class="container-xxl">
    <section>

        <div class="row">
            <div class="col-3">
                <form th:action="@{/api/v1/gallery/filter}" method="POST">
                    <p>Фильтр</p>
                    <a style="font-weight: bold">Категория</a>

                    <div th:each="type, iterStat : ${types}">
                        <div class="form-check">
                            <label class="form-check-label" for="checkType"><span
                                    th:utext="${type.name}"></span></label>
                            <input class="form-check-input" type="checkbox" name=checkedTypesList th:value="${type.id}"
                                   id="checkType"
                                   th:checked="${#lists.isEmpty(typesCustom)} ? true : (${#lists.contains(typesCustom, type.id)}? true : false)">
                        </div>
                    </div>

                    <br>
                    <a style="font-weight: bold">Товар</a>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" role="switch" id="availableChecked"
                               name="availableProducts" th:checked="${availableProd}">
                        <label class="form-check-label" for="availableChecked">В наличии</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" role="switch" id="saleChecked"
                               name="saleProducts" th:checked="${saleProd}?: true">
                        <label class="form-check-label" for="saleChecked">Со скидкой</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" role="switch" id="newChecked" name="newProducts"
                               th:checked="${newProd}?: true">
                        <label class="form-check-label" for="newChecked">Новый</label>
                    </div>

                    <br>
                    <a style="font-weight: bold;">Цена <span id="rangeValue" style="font-weight: normal;"></span></a>
                    <div class="col-9 mt-2">
                        <div class="row row-cols-3 mb-2">
                            <div class="col"><span class="border border-2 p-1 rounded" th:utext="${minPrice}"></span>
                            </div>
                            <div class="col text-center"><span>-</span></div>
                            <div class="col text-end"><span class="border border-2 p-1 rounded"
                                                            th:utext="${maxPrice}"></span></div>
                        </div>

                        <div class="form-group">
                            <input type="range" class="form-range table-secondary"
                                   th:step="1" th:min="${minPrice}" th:max="${maxPrice}" list="rangeList"
                                   onchange="document.getElementById('rangeValue').innerHTML = this.value;"
                                   name="priceRangeProducts" th:value="${priceProd}?: ${maxPrice}">
                            <datalist id="rangeList">
                                <option th:value="${minPrice}" th:text="${minPrice}">
                                <option th:value="${maxPrice}" th:text="${maxPrice}">
                            </datalist>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-sm btn-primary" type="submit">Обновить</button>
                    </div>

                </form>
            </div>

            <div class="col-9">
                <p>Коллекция</p>
                <div class="products_list" th:each="element : ${map}">
                    <div class="row flex-wrap text-start justify-content-center py-1 text-uppercase text-decoration-underline fw-bold">
                        <p th:text="${element.key.name}"></p>
                    </div>

                    <div class="row">
                        <div class="col-3" th:each="product : ${element.value}">
                            <div class="card border-0" style="max-width: 20rem;">

                                <div class="card-body">
                                    <div class="position-relative">
                                        <img class="card-img-top border-bottom border-secondary border-2"
                                             th:src="@{'/img/' + ${product.image}}" alt="image">

                                        <!--                                <p>Status: <span th:utext="${product.state}?: '(no state specified)'"></span></p>-->

                                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-danger rounded-pill"
                                              th:if="${product.state.equals(product.state.NEW)}">NEW<span
                                                class="visually-hidden">метка - товар NEW</span></span>

                                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-warning rounded-pill"
                                              th:if="${product.state.equals(product.state.SALE)}">SALE<span
                                                class="visually-hidden">метка - товар SALE</span></span>

                                        <span class="position-absolute top-0 start-100 translate-middle p-2 badge text-bg-success rounded-pill"
                                              th:if="${product.state.equals(product.state.SOLD)}">SOLD<span
                                                class="visually-hidden">метка - товар SOLD</span></span>
                                    </div>

                                    <h5 class="card-title"><span th:text="${product.name}"></span></h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-end">&#8381;<span
                                            th:text="${product.price}"></span><br>
                                        <span class="product_old_price"
                                              th:unless="${product.oldPrice} == 0">&#8381;<span
                                                th:text="${product.oldPrice}"></span></span></h6>
                                    <a class="stretched-link card-link" th:href="@{'/api/v1/products/'+ ${product.id}}"><span
                                            class="sr-only"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</body>
</html>