<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <title>Админ. Список групп</title>
</head>
<body>

<section>
    <div class="container-xxl">
        <header class="d-flex bg-light flex-wrap justify-content-center mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Администрирование</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/index" class="nav-link px-2">Home</a></li>
                <li class="nav-item"><a href="/admin/products" class="nav-link px-2">Продукты</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary">Группы</a></li>
            </ul>
        </header>
    </div>
</section>

<section>
    <div class="container-xxl">
        <h2>Управление типами</h2>

        <table class="table-responsive table-secondary table-bordered table-striped caption-top">
            <caption>Список типов</caption>
            <thead style="text-align: center;">
            <th scope="col" style="padding-left: 10px; padding-right: 10px;">#</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Название типа</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Приоритет</th>
            <th scope="col" style="width: auto; padding-left: 10px; padding-right: 10px;">Действия</th>
            </thead>
            <tbody>
            <tr th:if="${types.isEmpty()}">
                <td colspan="4"> No types available</td>
            </tr>
            <div th:each="type, state : ${types}">
                <tr style="text-align: center">
                    <td th:text="${state.index + 1}"></td>
                    <td th:text="${type.name}" style="width: auto; text-align:start; padding-left: 10px;"></td>
                    <td th:text="${type.orderId}" style="padding-left: 10px;"></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn align-content-center p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{'/admin/types/edit/' + ${type.id}}"><i
                                        class="bx bx-edit-alt me-1"></i>Edit</a>
                                <a class="dropdown-item" th:href="@{'/admin/types/delete/' + ${type.id}}"><i
                                        class="bx bx-trash me-1"></i>Delete</a>
                            </div>
                        </div>
                    </td>

                </tr>
            </div>
            </tbody>
            <tfoot>
            <td colspan="4"><a th:href="@{/admin/types/add}" class="btn btn-sm btn-primary">Добавить</a></td>
            </tfoot>
        </table>
    </div>
</section>

</body>
<div th:insert="~{fragments :: copyright}"></div>
<th:block th:insert="~{fragments :: script}"></th:block>
</html>